@model MediCareHub.ViewModels.LoginViewModel

<body class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>

                                    <!-- Success Message -->
                                    @if (TempData["SuccessMessage"] != null)
                                    {
                                        <div class="alert alert-success">
                                            @TempData["SuccessMessage"]
                                        </div>
                                    }

                                    <form asp-action="Login" method="post" class="user">
                                        <div class="form-group text-center">
                                            <input asp-for="Email" class="form-control form-control-user mx-auto"
                                                   id="exampleInputEmail" aria-describedby="emailHelp"
                                                   placeholder="Enter Email Address..." style="max-width: 400px;">
                                            <span asp-validation-for="Email" class="text-danger d-block"></span>
                                        </div>
                                        <div class="form-group text-center">
                                            <input asp-for="Password" type="password" class="form-control form-control-user mx-auto"
                                                   id="exampleInputPassword" placeholder="Password" style="max-width: 400px;">
                                            <span asp-validation-for="Password" class="text-danger d-block"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small text-center">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember Me</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Login</button>

                                        @if (ViewData.ModelState.ContainsKey("") && ViewData.ModelState[""].Errors.Count > 0)
                                        {
                                            <div class="text-danger text-center mt-3">
                                                @ViewData.ModelState[""].Errors[0].ErrorMessage
                                            </div>
                                        }
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="~/Account/ForgotPassword">Forgot Password?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="~/Account/Register">Create an Account!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
